name: tagpr

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
        with:
          token: ${{ secrets.GH_PAT }}

      - uses: Songmu/tagpr@0a9b8e6634db66e773516828c1359dc6e9e8b484 # v1
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT }}
